.table-view {
   -fx-background-color: #E0E0E0;
   -fx-border-color: transparent;
}

.table-view .scroll-bar:vertical {
    -fx-opacity: 0;                     /* Torna a barra de rolagem invisível */
    -fx-padding: 0;                     /* Remove o espaçamento ao redor da barra */
    -fx-background-color: transparent;  /* Remove qualquer fundo */
    -fx-border-color: transparent;      /* Remove qualquer borda */
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}


.table-column{
	-fx-background-color: #E0E0E0;
	-fx-border-color: transparent;
	-fx-alignment: CENTER;
}


#orderTable .column-header-background{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.button{
	-fx-background-color:  #388E3C; /* Leve mudança na cor de fundo */
    -fx-font-size: 20px; /* Mantém o tamanho fixo do texto */
}

.button:hover{
	-fx-background-color: #2E7D32;
	-fx-cursor: hand;
	-fx-scale-x: 1.03;
	-fx-scale-y: 1.03;

}



